<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Inetbanking">


   <listeners>
        <listener class-name="com.inetbanking.utilities.Reporting" />
    </listeners>

    <test name="BankingApp Test">
        <parameter name="browser" value="chrome" />
        <classes>
           <!-- <class name="com.inetbanking.testcases.LoginTest"/>-->
        <!--    <class name="com.inetbanking.testcases.TC_LoginDDT"/>-->
            <class name="com.inetbanking.testcases.TC_AddCustmerTest_002" />

        </classes>

    </test>

 </suite>
